@import "/styles/reset.css";
@import "/styles/header.css";
@import "/styles/main.css";
@import "/styles/hero.css";
@import "/styles/about.css";
@import "/styles/projects.css";

:root {
  --main-color: #fff;
  --text-color: #121212;
  --accent-color: #ad1818;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  background-color: var(--main-color);
  font-family: "Manrope", sans-serif;
  color: var(--text-color);
}
