.contacts__title {
  margin-bottom: 74px;
}
.item-contacts {
  position: relative;
  display: flex;
  column-gap: 104px;
}
.item {
  font-size: 60px;
  line-height: 133%;
  letter-spacing: -1.8px;
}
.item::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: -26px;
  left: 0;
}
.item-contacts__phone::before {
  background: url("../resources/img/decor/contacts/phone.svg") center / cover;
}
.item-contacts__email::before {
  background: url("../resources/img/decor/contacts/email.svg") center / cover;
}
/* ----------------------------------------@media---------------------------- */
@media (width < 1200px) {
  .item-contacts {
    column-gap: 114px;
  }
  .item {
    font-size: 45px;
    line-height: 133.333%;
    letter-spacing: -1.35px;
  }
}
@media (width < 800px) {
  .contacts__title {
    margin-bottom: 58px;
  }
  .item-contacts {
    flex-direction: column;
    row-gap: 58px;
  }
  .item {
    font-size: 35px;
    line-height: 130.345%;
    letter-spacing: -1.05px;
  }
  .item::before {
    width: 18px;
    height: 18px;
    top: -20px;
  }
}
 