.header {
  padding: 33px 0 74px;
}
.header-inner {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.header-menu {
}
.header-menu__items {
  display: flex;
  gap: 60px;
}
.header-menu__item {
}
.header-menu__item:hover {
  opacity: 0.5;
  border-bottom: 0.5px solid var(--text-color);
}
/* ----------------------------------------@media---------------------------- */

@media (width < 768px) {
  .header-menu{
    display: none;
  }
}