.projects__container {
    margin-bottom: 90px;
  }
  .projects__title {
    margin-bottom: 30px;
  }
  .projects__list > * {
    margin-bottom: 90px;
  }
  .project__image {
    margin-bottom: 15px;
  }
  .project__text {
    margin-bottom: 15px;
    font-size: 30px;
    letter-spacing: -0.9px;
  }
  .project__link {
    display: inline-block;
    color: var(--accent-color);
    line-height: 127%;
    letter-spacing: -0.6px;
  }
  .projects__button {
    display: block;
    padding: 56px 0;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    text-align: center;
    color: var(--accent-color);
    font-size: 30px;
  }
  .projects__button:hover {
    border: 1px solid var(--main-color);
    box-shadow: inset 0 0 10px 0 var(--main-color);
    background-color: var(--accent-color);
    color: var(--main-color);
  }