:root {
  --main-color: #fff;
  --text-color: #121212;
  --accent-color: #ad1818;
}
body {
  width: 100%;
  background-color: #333;
  font-family: "Manrope", sans-serif;
  color: var(--text-color);
}
.wrapper {
  width: 1150px;
  margin: 0 auto;
  padding: 33px 125px;
  background-color: var(--main-color);
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.nav-bar__items {
  display: flex;
  gap: 60px;
}
.item:hover {
  opacity: 0.5;
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 10px;
}
.section {
  margin-bottom: 150px;
}
.section_black {
  margin: 0 -125px;
  padding: 150px 125px;
  background-color: var(--text-color);
  color: var(--main-color);
}
.title {
  margin-bottom: 30px;
  font-size: 18px;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}
.image {
  width: 100%;
}
.first {
  position: relative;
}
.first__title {
  width: 956px;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -1.8px;
}
.first__text {
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: 430px;
  height: 81px;
  color: var(--main-color);
  font-size: 20px;
  letter-spacing: -0.6px;
}
.about {
  width: 1048px;
}
.about__title {
  margin-bottom: 30px;
}
.about__text {
  margin-bottom: 30px;
  font-size: 45px;
  letter-spacing: -1.35px;
}
.about__button {
  display: inline-block;
  padding: 20px 40px;
  border-radius: 5px;
  background-color: var(--accent-color);
  color: var(--main-color);
  font-size: 20px;
  letter-spacing: -0.6px;
  cursor: pointer;
}
.projects__title {
  margin-bottom: 30px;
}
.project {
  margin-bottom: 90px;
}
.project__image {
  margin-bottom: 15px;
}
.project__text {
  margin-bottom: 15px;
  font-size: 30px;
  letter-spacing: -0.9px;
}
.project__link {
  display: inline-block;
  color: var(--accent-color);
  font-size: 20px;
  letter-spacing: -0.6px;
}
.projects__button {
  display: block;
  padding: 56px 0;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  text-align: center;
  color: var(--accent-color);
  font-size: 30px;
  letter-spacing: -0.9px;
}
.projects__button:hover {
  background-color: var(--accent-color);
  color: var(--main-color);
}
.services__title {
  margin-bottom: 34px;
}
.item-services:not(:last-child) {
  margin-bottom: 60px;
}
.item-services__image img {
  margin-bottom: 15px;
}
.item-services__text {
  font-size: 30px;
  letter-spacing: -0.9px;
}
.last {
  position: relative;
  margin: 0 -125px;
}
.last__text {
  position: absolute;
  left: 125px;
  bottom: 60px;
  width: 443px;
  color: var(--main-color);
  font-size: 30px;
  letter-spacing: -0.9px;
}
.contacts {
  padding: 150px 0;
}
.contacts__icon {
  padding-bottom: 12px;
}
.item-contacts {
  color: var(--text-color);
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -1.8px;
}
.item-contacts:not(:last-child) {
  margin-bottom: 30px;
}
